<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autentication and Authorization</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="Style.css">
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <form action="/login" method="post">

            <h1 class="mb-5">Login User</h1>

            

            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="email"
                name="email" placeholder="Enter your email">


            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="password"
                name="password" placeholder="Enter your password">


            <button class="px-3 py-2 rounded-md border-2 border-blue-800 bg-blue-600 outline-none"
                type="submit">Login</button>

        </form>
        </div>
</body>

</html>