<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starway Collections</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display'] overflow-hidden">
    <nav class="w-full flex justify-between px-5 py-3">
        <h3 class="text-xl">💫wayCollections</h3>
             <div class="flex gap-5">
            <a href="/owner-profile" class="pointer-events-none">My Account</a>
            <a class="text-red-600" href="/user/logout">Login</a>
        </div>
    </nav>

    <% if(error.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% }%>

            <div class="w-full flex items-center justify-center h-screen mt-[-40px]">
                <div class="w-1/2 px-32">
                    <h3 class="text-4xl">welcome to <span class="text-blue-400 font-semibold">Starway Collections</span>
                    </h3>
                    <h4 class="text-2xl mb-5">create your account</h4>
                    <form autocomplete="off" action="/owners/register" method="post">
                        <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="text" placeholder="Full Name" name="fullname">
                        <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="email" placeholder="Email" name="email">
                        <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="password" placeholder="Password" name="password">
                        <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="text" placeholder="Gst Number" name="gstno">
                        <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white cursor-pointer" type="submit"
                            value="Create My Account">
                    </form>
                </div>
                <div class="w-1/2 mt-[-100px]"> <!-- Parent container with background color -->
                    <img class="w-[80%]"
                        src="/images/529a37a2-4db1-4213-afb8-d18294c695e9.png" 
                        alt="starway collections logo"
                    >
                </div>
                
            </div>
            <div class="flex justify-center items-center mt-[-100px]">
                <p>Already have an Account?? <a class="text-blue-700" href="/">Login</a></p>
            </div>

            <%- include('./partials/footer') %>